body {
	display: grid;
	place-items: center;
	margin: 0;
	height: 100vh;
}
.box {
	background-color: lightblue;
	width: 200px;
	height: 200px;
	display: grid;
	place-items: center;
	border: 2px solid black;
}
.box p {
	color: purple;
}